<h2>Enter A New Pokemon Name AND Info Then Hit Create</h2>
  <form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]">

  <label>Pokemon Type:</label>
  <input name="pokemon[poke_type]">

  <label>Combat Power:</label>
  <input name="pokemon[cp]">

  <label>Image URL:</label>
  <input name="pokemon[img_url]">

  <input type="submit" value="Create">
</form>
