@font-face {
  font-family: "Pokemon";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

a{
  color: red;
  text-shadow: rgb(35, 75, 180) 3px 3px 1px;
  -webkit-text-stroke: 2px blue;
  text-decoration: none;
  border-radius: 100px;

}
h1{
  color: red;
  text-decoration: underline;
  -webkit-text-stroke: 2px blue;
}

p, h2, h3{
  color: red;
  text-shadow: rgb(35, 75, 180) 3px 3px 1px;
  -webkit-text-stroke: 2px blue;
  text-decoration: underline;
  border-radius: 100px;
  text-align: center;

}
h1{
 width: 100px;
 height: 100px;
 background-color: red;
 position: relative;
 -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
 animation: myfirst 5s linear 10s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
 0%   {background-color:red; left:0px; top:0px;}
 25%  {background-color:yellow; left:200px; top:0px;}
 50%  {background-color:blue; left:200px; top:20px;}
 75%  {background-color:green; left:0px; top:20px;}
 100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
 0%   {background-color:red; left:0px; top:0px;}
 25%  {background-color:yellow; left:200px; top:0px;}
 50%  {background-color:blue; left:200px; top:20px;}
 75%  {background-color:green; left:0px; top:20px;}
 100% {background-color:red; left:0px; top:20px;}
}
body {
  background-image: url(../images/pokedex.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pokemon", monospace;
  letter-spacing: .25em;
  font-size: 200%;
  background-color: blue;
}

a:hover {
  padding: 20px;
  animation: pulse .5s infinite;
}
.containareon, h1 {
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color: black;
  text-align: center;
  justify-content: center;
}

.pokemon{
  min-width: 375px;
  background-color: black;
  padding: 10px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgba(255, 0, 0, .5);
  border-left-color: rgba(255, 0, 0, .5);
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgba(225, 225, 225, .5);
  text-align: center;
}

@keyframes pulse {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 255, 255, .3);
    background-color: yellow;
  }
  25% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 255, .1);
  }
  50% {
    text-shadow: 4px 4px 3px rgba(55, 55, 55, .3);
    background-color: rgba(255, 0, 0, .1);
  }
  75% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1);
  }
}*/
